@import url('https://fonts.googlepis.com/css?family=poppins:200,300,400,500,600,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body

{
    margin-top: 100px;
    margin-bottom: px;
    /* background: linear-gradient(90deg, #0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100%); */
   


}
.navbar{
    background-image: linear-gradient(-90deg, #fd2bac, #0d075e);
    padding: 1rem 3rem;
    z-index: 1000;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
color: #fff;
font-size: 1.4rem;
padding: 0 1.4rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #07fd13;
}

#navbarSupportedContent > button{
    background: #aef7e5;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
.contactus::after .footer{
    background-color:black;
    text-align: center;
    width: 100%;
}







.contactus{
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 4px 100px;

}
.contactus .title{
    margin-top: 30px;

    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}
.contactus.title.h1{
    color: #fff;
    font-weight: 500;
}

.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact{
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
    height: 550px;
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap:20px;
    margin-top: 20px;
    
    /* margin-bottom: 100px; */

}
.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formbox{
    position: relative;
    width: 100%;
    
}
.formbox .row50{
    display: flex;
    gap: 20px;

}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formbox .row100 .inputbox
{
    width: 100%;
 
}
.inputbox spam
{
    color:#18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputbox input
{
    background: #c6e4f1;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputbox input:hover
{
    background: #fff;
}




.inputbox textarea
{
    background: #c6e4f1;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 150px;
    margin-bottom: 10px;

}  
.inputbox textarea:hover
{
    background:#fff;
    
}
.inputbox input[type="submit"]
{
    background: #ff578b;
    color: #ffff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
  

}
.inputbox input[type="submit"]:hover
{
    background: #0e3959;
    color:#03a9f5;

}
.inputbox ::placeholder{
    color:grey;

}
/* info */
.info
{
    background: #0e3959;
    

}
.info h3
{
    color:#ffff;
}
.infobox{
    min-height: 250px;
}
.info .infobox div
{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.info .infobox span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
    justify-content: center;
    font-size: 1.5em;
    border-radius: 50%;
}
.info .infobox div p
{
    color: #fff;
    font-size: 1.1em;
    padding: 20px;
}
.info .infobox div a
{
    color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 20px;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;

}
.sci li a{
    color:#fff;
    font-size: 2em;
    color: #ccc;
    padding: 20px;
}
.sci li a:hover
{
    color:#03a9f5;
}
.map{
    padding: 0;
}
.map iframe
{
    width: 100%;
    height: 100%;
}

/* responsive design */
@media(max-width:991px)
{
    body{
        background: white;
    }
    .contactus
    {
        padding: 20px;

    }
    .box
    {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map
    {
        min-height: 300px;

    }
    .formbox .row50
    {
        display: flex;
        gap:0;
        flex-direction: column;
    }
    .inputbox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width:100%;
    }
    .contact
    {
        padding: 30px;
        padding: 0;
    }
}

