@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-align: center;
}
:root{
    --main-color:#00c2a2;
    --black:#13131a;
    --bg:#ffffff;
    --border:.1rem solid rgba(255,255,255,.3);
}
 
html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

body{
    background: var(--bg);
}

body{
    min-height: 300vh;
}

.navbar{
    /* background-image: linear-gradient(-90deg, #ff60c2, #2f20ff); */
    background-image: linear-gradient(-90deg, #fd2bac, #0d075e);
    padding: 1rem 3rem;
    z-index: 1000;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
color: #fff;
font-size: 1.4rem;
padding: 0 1.4rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #07fd13;
    
}
#navbarSupportedContent > button{
    background: #aef7e5;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}
.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mid .hero{
    position: relative;
}
.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1.2rem;
}
.mid .hero a{
    background: #00BF85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none; 
}
.mid .hero a:hover{
    background: #fff;
}
.about .text{
    background: rgb(255, 255, 255);
}
.about .text
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.about .text h6
{
    color: #00BF7F;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.about .text h2
{
    color: #e65d18;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.about .text a{
    background: #00BF85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none; 
    color: #111;
}
.about
{
    background-color: rgb(255, 255, 255);
}
.about .heading h1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
    .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
    .box
{
    position: relative;
    width: 320px;
    padding: 40px;
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}
    .box:before
{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 1;
    }
    .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    border-radius: 50%;
    transition: 1s;
    }

    .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #0480e6;
    background: #3C8DAD;
    }
    .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #3C8DAD;
    }
    .box:nth-child(2) .icon{
        box-shadow: 0 0 0 0 #f00151;
        background: #FF616D;
    }
        .box:nth-child(2):hover .icon{
        box-shadow: 0 0 0 400px #FF616D;
        }
    .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #f3bc06;
    background: #FFBD35;
    }
    .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #FFBD35;
    }
    .box .content{
    position: relative;
    z-index: 2;
    transition: .5s;
    }
    .box:hover .content{
    color: #fff;
    }
    
    .box .content h3{
        color: #fff;
    font-size: 20px;
    margin: 20px 0;
    }
    .box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(90, 222, 255);
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    }  



    .blogs .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap:8rem;
    }
    
    .blogs .box-container .box{
        border:var(--border); 
        background: #fff;
    }

    
    .blogs .box-container .box .image{
        height: 10rem;
        overflow:hidden;
        width: 100%;
    }
    
    .blogs .box-container .box .image img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    
    .blogs .box-container .box:hover .image img{
        transform: scale(1.6);
    }
    
    .blogs .box-container .box .content{
        padding:1rem;
    }
    
    .blogs .box-container .box .content .title{
        font-size: 1.2rem;
        line-height: 1.5;
        color:rgb(0, 0, 0);
    }
    
    .blogs .box-container .box .content .title:hover{
        color:var(--main-color);
    }
    
    .blogs .box-container .box .content span{
        color:var(--main-color);
        display: block;
        padding-top: 1rem;
        font-size: 1.3rem;
    }
    
    .blogs .box-container .box .content p{
        font-size: 1.2rem;
        line-height: 1.3;
        color:rgb(3, 3, 3);
        padding:2rem 0;
    }

    


    .footer{
        background:var(--black);
        text-align: center;
    }

    
    
    .footer .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding:2rem 0;
        gap:1rem;
    }
    
    .footer .links a{
        padding:.4rem 1.6rem;
        text-decoration: none;
        color:rgb(255, 255, 255);
        border:var(--border);
        font-size: 1.2rem;
    }
    
    .footer .links a:hover{
        background:var(--main-color);
    }
    
    .footer .credit{
        font-size: 1.4rem;
        color:rgb(255, 255, 255);
        font-weight: lighter;
        padding:1.5rem;
    }
    
    .footer .credit span{
        color:var(--main-color);
    }