@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-align: center;
}
:root{
    --main-color:#00c2a2;
    --black:#13131a;
    --bg:#ffffff;
    --border:.1rem solid rgba(255,255,255,.3);
}
 
html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

body{
    background: var(--bg);
}

body{
    min-height: 300vh;
}

.navbar{
    /* background-image: linear-gradient(-90deg, #ff60c2, #2f20ff); */
    background-image: linear-gradient(-90deg, #fd2bac, #0d075e);
    padding: 1rem 3rem;
    z-index: 1000;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
color: #fff;
font-size: 1.4rem;
padding: 0 1.4rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #07fd13;
    
}
#navbarSupportedContent > button{
    background: #aef7e5;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}